/* Rows & Columns */
row {
  margin-right: -15px;
  margin-left: -15px;
}
.col-md-5.agent {
  margin-left: 19%;
}
.col-md-5, .col-sm-2 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-sm-2.bTitle {
  color: #505086;
  text-shadow: #FFF 4px 1px 12px;
}
/* Containers & Styles */
#myBrow {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translater(-50%, -50%);
}
#myBrow a:link, #myBrow a:visited, #myBrow a:focus, #myBrow a:active {
  color: #a94442;
  text-decoration: none;
}
#myBrow a:hover {
  color: rgb(206, 7, 3);
  text-decoration: none;
}
.myBrow {
  width: 26%;
}
.myBrowFull {
  width: 35%;
}
.close {
  float: right;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
  text-decoration: none;
  margin-top: 1px;
  padding-left: 9px;
}
.close:hover {
  color: #000!important;
  filter: alpha(opacity=20);
  opacity: .9;
  text-decoration: none!important;
}

/* Alerts */
.alert {
  text-shadow: 0 1px 0 rgba(255, 255, 255, .2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .25), 0 1px 2px rgba(0, 0, 0, .05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .25), 0 1px 2px rgba(0, 0, 0, .05);
}
.alert-danger {
  background-image: -webkit-linear-gradient(top, #f2dede 0, #e7c3c3 100%);
  background-image: -o-linear-gradient(top, #f2dede 0, #e7c3c3 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f2dede), to(#e7c3c3));
  background-image: linear-gradient(to bottom, #f2dede 0, #e7c3c3 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede', endColorstr='#ffe7c3c3', GradientType=0);
  background-repeat: repeat-x;
  border-color: #dca7a7;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}


/* Block a BROwser

.Chrome {
    display: none!important;
}

.Firefox {
    display: block!important;
}*/

/* Media Queries */
@media (min-width: 992px) {
  .col-md-5 {
    width: 41.66666667%;
  }
}
@media (min-width: 768px) {
  .col-sm-2 {
    width: 16.66666667%;
    float: left;
  }
}
/* */
@media screen and (max-width: 767px) {
  .col-md-5.agent {
    margin-left: 0%!important;
  }
  .myBrowFull {
    width: 47%!important;
  }
  .myBrow .close {
    float: right;
    font-size: 23px!important;
    margin-top: -3.7em!important;
    margin-right: -10px!important;
  }
  .myBrowFull .close {
    float: right;
    font-size: 27px!important;
    margin-top: -19px!important;
    margin-right: -10px!important;
  }
}

@media screen and (max-width: 1670px) {
  .col-md-5.agent {
    margin-left: 19%;
  }
  .myBrowFull {
      width: 46%;
  }
  .myBrow .close {
      float: right;
      font-size: 23px;
      margin-top: -33px;
      margin-right: -11px;
  }
  .myBrowFull .close {
    float: right;
    font-size: 27px;
    margin-top: -19px;
    margin-right: -10px;
  }
}
